name: Build ghost mac

on:
  push:
    tags:
      - "*-release"
  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: [3.8]
        os: [macOS-15, macOS-15-intel]

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Brew Packages
        run: |
          brew install zlib
          brew reinstall cairo

      - name: Install Python dependencies
        run: |
          python3 --version
          python3 -m pip install --upgrade pip
          pip3 install -r requirements.txt --no-binary=lxml

      - name: Checkout Beamify
        uses: actions/checkout@v4
        with:
          repository: flux3dp/beamify
          ref: 2.0.8
          token: ${{ secrets.REPO_TOKEN }}
          path: .github/actions/beamify

      - name: Install Beamify
        run: |
          cd .github/actions/beamify/python
          # FIXME: Failed to install deps only on github action, use || operator temporary
          python3 setup.py install --verbose || echo "Failed to install beamify"

      - name: Install Fluxsvg
        uses: flux3dp/fluxsvg@2.7.7

      - name: Checkout FluxClient
        uses: actions/checkout@v4
        with:
          repository: flux3dp/fluxclient-dev
          ref: 2.9.8
          token: ${{ secrets.REPO_TOKEN }}
          path: .github/actions/fluxclient

      - name: Install FluxClient
        run: |
          cd .github/actions/fluxclient
          # FIXME: Failed to install deps only on github action, use || operator temporary
          python3 setup.py install --verbose || echo "Failed to install beamify"

      - name: Build Flux Api
        run: |
          echo $(brew --prefix cairo)
          ls $(brew --prefix cairo)/lib
          set DYLD_LIBRARY_PATH="$(brew --prefix cairo)/lib"
          echo $DYLD_LIBRARY_PATH

          bash -c "set -e 1; export LC_ALL=\"en_US.UTF-8\"; export LC_CTYPE=\"en_US.UTF-8\"; printenv; python3 ghost.py --test"
          bash -c "set -e 1; export LC_ALL=\"en_US.UTF-8\"; export LC_CTYPE=\"en_US.UTF-8\"; pyinstaller --clean ghost-github-action.spec"
          ./dist/flux_api/flux_api --test

      - name: Cleanup artifacts
        run: |
          mkdir artifacts
          mv dist/flux_api artifacts
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{matrix.os}}
          path: artifacts
