name: Build ghost mac

on:
  push:
    tags:
      - '*'

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: [3.6]
        os: [macOS-latest]

    steps:
      - uses: actions/checkout@v2

      - name: Install Cairo
        run: |
          brew install cairo

      - name: Setup Python
        run: |
          curl -O "https://www.python.org/ftp/python/3.6.8/python-3.6.8-macosx10.9.pkg"
          sudo installer -pkg ./python-3.6.8-macosx10.9.pkg -target /
          echo "::add-path::/Library/Frameworks/Python.framework/Versions/3.6/bin"
          echo "::set-env name=MACOSX_DEPLOYMENT_TARGET::10.10"

      - name: Install Python dependencies
        run: |
          python3 --version
          python3 -m pip install --upgrade pip
          pip3 install -r requirements.txt --no-binary=lxml

      # using https://github.com/InVisionApp/private-action-loader for private repo.
      - name: Install Beamify
        uses: invisionapp/private-action-loader@v3
        with:
          pal-repo-token: ${{ secrets.REPO_TOKEN }}
          pal-repo-name: flux3dp/beamify@master

      - name: Install Fluxsvg
        uses: flux3dp/fluxsvg@master

      - name: Install FluxClient
        uses: invisionapp/private-action-loader@v3
        with:
          pal-repo-token: ${{ secrets.REPO_TOKEN }}
          pal-repo-name: flux3dp/fluxclient-dev@develop
      
      - name: Build Flux Api
        run: |
          bash -c "set -e 1; export LC_ALL=\"en_US.UTF-8\"; export LC_CTYPE=\"en_US.UTF-8\"; printenv; python3 ghost.py --test --without_pcl"
          bash -c "set -e 1; export LC_ALL=\"en_US.UTF-8\"; export LC_CTYPE=\"en_US.UTF-8\"; pyinstaller --clean ghost-github-action.spec"
          sudo cp -R /Library/Frameworks/Python.framework/Versions/3.6/lib/tcl8.6 dist/flux_api/tcl
          sudo cp -R /Library/Frameworks/Python.framework/Versions/3.6/lib/tk8.6 dist/flux_api/tk
          sudo cp ./lib/mac/libwebp.7.dylib dist/flux_api
          sudo cp ./lib/mac/libfontconfig.1.dylib dist/flux_api
          ./dist/flux_api/flux_api --test --without_pcl
      
      - name: Cleanup artifacts
        run: |
          mkdir artifacts
          mv dist/flux_api artifacts
      - name: Upload artifacts
        uses: actions/upload-artifact@v1
        with:
          name: ${{matrix.os}}
          path: artifacts